

/* container */
.container {
    background-color: #522d6d;
    width: 80vw;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10vh 10vw;
}

/* draggable */
.item {
    width: 5vw;
    height: 5vh;
    background-color: #0097a2;
	border: 1px solid #000;
	border-radius: 50%;
	box-sizing: border-box;
	position: absolute;
	cursor: move;
}